form{
    padding-left: 40%;
}

p{
    font-family: 'Roboto', sans-serif;
}

input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 80%;
  }

li{
    font-family: 'Roboto', sans-serif;
}

label{
    font-family: 'Roboto', sans-serif;;
}

button{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Roboto', sans-serif;
}